In [2]:
import pandas as pd

# 1) Data Understanding

In [3]:
dataframe = pd.read_csv("Mall_Customers.csv")

## 1.1) Data inspection first 5 rows

In [4]:
print(dataframe.head())

   CustomerID  Gender  Age  Annual Income (k$)  Spending Score (1-100)
0           1    Male   19                  15                      39
1           2    Male   21                  15                      81
2           3  Female   20                  16                       6
3           4  Female   23                  16                      77
4           5  Female   31                  17                      40

## 1.2) Data inspection last 5 rows

In [5]:
print(dataframe.tail())

     CustomerID  Gender  Age  Annual Income (k$)  Spending Score (1-100)
195         196  Female   35                 120                      79
196         197  Female   45                 126                      28
197         198    Male   32                 126                      74
198         199    Male   32                 137                      18
199         200    Male   30                 137                      83

## 1.3) Columns of the dataframe

In [6]:
dataframe.columns

Index(['CustomerID', 'Gender', 'Age', 'Annual Income (k$)',
       'Spending Score (1-100)'],
      dtype='object')

## 1.4) Information on each columns of the dataframe

In [7]:
dataframe.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 5 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   CustomerID              200 non-null    int64
 1   Gender                  200 non-null    object
 2   Age                     200 non-null    int64
 3   Annual Income (k$)      200 non-null    int64
 4   Spending Score (1-100)  200 non-null    int64
dtypes: int64(4), object(1)
memory usage: 7.9+ KB

## 1.5) Statistical Description

In [8]:
dataframe[['Age','Annual Income (k$)','Spending Score (1-100)']].describe()

              Age  Annual Income (k$)  Spending Score (1-100)
count  200.000000          200.000000              200.000000
mean    38.850000           60.560000               50.200000
std     13.969007           26.264721               25.823522
min     18.000000           15.000000                1.000000
25%     28.750000           41.500000               34.750000
50%     36.000000           61.500000               50.000000
75%     49.000000           78.000000               73.000000
max     70.000000          137.000000               99.000000

## 1.6) Skewness

In [9]:
dataframe[['Age','Annual Income (k$)','Spending Score (1-100)']].skew()

Age                       0.485569
Annual Income (k$)        0.321843
Spending Score (1-100)   -0.047220
dtype: float64

#### Spending score column is  slighly negatively skewed/ left skewed, the data is relatively symmetrical/ normally distributed.
#### Most of the customer have higher spending score, while few  customer  have lower spending score as they rarely vists  the department store

##

## 1.7) Total number of female and male in the data set

In [10]:
dataframe[['Gender']].value_counts()

Gender
Female    112
Male       88
Name: count, dtype: int64

#### There are total of 112 female and 88 male data in a data frame.

## 1.8)  Missing values

In [11]:
dataframe.isna().sum()

CustomerID                0
Gender                    0
Age                       0
Annual Income (k$)        0
Spending Score (1-100)    0
dtype: int64

#### No missing values in the data set

## 1.9) Duplicate values

In [15]:
dataframe.duplicated().any()

False

#### All the row entry are unique, no duplicates data